body {
background-color: rgb(255, 223, 223);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.btn1{
    border-radius: 25px;
    border: 1px solid rgb(177, 81, 81);
    width: 80px;
    height: 35px;
    font-size: 30px;
    color:rgb(58, 25, 1);
    font-size: 25px;
  
}
.inp{
    height: 20px;
    border-bottom: 1px solid black;
    color: dimgray;
    font-size: 15px;
    border: none;
}
.input{
    display: inline-block;
    margin: 30px;
}